* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-image: url('american-football-illustration_23-2148810550.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    color: #333; /* Dark gray text color for better readability */
    text-align: center;
    padding: 20px;
    text-shadow: 4px 4px 6px rgba(255, 255, 255, 0.7); /* Increase text shadow for a more dramatic effect */
}

/* Header styles */
h1, h2 {
    font-size: 40px; /* Slightly larger font size */
    color: #051C2B;
    margin-top: 20px;
    text-shadow: 5px 5px 8px rgba(255, 255, 255, 0.7); /* Increase text shadow for headers */
    padding: 10px; /* Add padding to emphasize the headers */
    background: rgba(255, 255, 255, 0.5); /* Semi-transparent white background to emphasize headers */
    border: 2px solid rgba(255, 255, 255, 0.7); /* Add a border around headers */
    border-radius: 5px; /* Add rounded corners for headers */
}

/* List styles */
ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.5); /* Semi-transparent white background to emphasize lists */
    border: 2px solid rgba(255, 255, 255, 0.7); /* Add a border around lists */
    padding: 10px; /* Add padding to emphasize lists */
    border-radius: 5px; /* Add rounded corners for lists */
}

li {
    font-size: 20px; /* Slightly larger font size */
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7); /* Increase text shadow for list items */
}

/* Paragraph styles */
p {
    font-size: 20px; /* Slightly larger font size */
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7); /* Increase text shadow for paragraphs */
    padding: 10px; /* Add padding to emphasize paragraphs */
    background: rgba(255, 255, 255, 0.5); /* Semi-transparent white background to emphasize paragraphs */
    border: 2px solid rgba(255, 255, 255, 0.7); /* Add a border around paragraphs */
    border-radius: 5px; /* Add rounded corners for paragraphs */
}

/* Link styles */
a {
    color: #051C2B;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}